.git
.gitignore
.gitlab-ci.yml
.cursor
.env
.env.*
!.env.example
node_modules
web
frontend
storage/tmp
storage/outputs
storage/input
storage/downloads
storage/videos
storage/voices
storage/audios
storage/queues
storage/pipelines
storage/jobs
storage/projects
**/*.log
**/*.tar
redis-alpine.tar
*.md
!README.md
